<%- include('./includes/header.ejs') %>

<div
  style="margin: 0 auto; padding: 30px 0; font-family: Arial; ">
  <h3 style="color: #1C2534;">Hello, <%= name %></h3>
  <p style="color: #555; line-height: 1.6; margin-bottom: 2px">Welcome to  Se Consultant. You have been added Our System.</p>
  <p style="color: #555; line-height: 1.6; margin-bottom: 2px" > Your temporary password is <strong><%= password %></strong>. </p>
  <p style="color: #555; line-height: 1.6; ">Please click below button to reset your temporary password.</p>

  <a href="<%= url %>" style="background: #1C2534; color: #fff;  margin:10px,20px; padding: 10px 20px; text-decoration: none; border-radius: 5px;">Reset Password</a>

  <p style="color: #1C2534; font-weight: bold;">Best Regards,</p>
  <img src="cid:logo" alt="Logo" style="max-width: 150px; margin-bottom: 2px;">
  <p style="color: #1C2534; font-size: 14px;">mobile: 0715525547 | email: avishkachana@gmail.com</p>
</div>

<%- include('./includes/footer.ejs') %>
